
@font-face {
  font-family: 'Roboto';
  src: url('/lytegen_contact_details/static/src/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/lytegen_contact_details/static/src/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/lytegen_contact_details/static/src/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/lytegen_contact_details/static/src/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/lytegen_contact_details/static/src/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/lytegen_contact_details/static/src/fonts/Roboto-ExtraBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}